 .CSK{
    background-color: beige;
    font-style: italic;
    font-size: 30px; 
 }
 .RCB{
    background-color: beige;
    font-style: italic;
    font-size: 30px;
 }
 .span1{
    color: red;
 }
 .span2{
    color: red;
 }

 .div1{
   font-style: italic;
   background-image: url(csk\ logo.jpeg);

 }
 .div2{
   font-style: italic;
   background-image: url
 }
 p{
   color: white;
   font-weight: bold;
   text-transform: capitalize;
 }
 .p1{
   background-image: url(rcb\ logo.jpeg);
 }
 


 