 .CSK{
    background-color: beige;
    font-style: italic;
    font-size: 30px;
    
 }
 .RCB{
    background-color: beige;
    font-style: italic;
    font-size: 30px;
 }
 .span1{
    color: cadetblue;
 }
 .span2{
    color: cadetblue;
 }